# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build output
node_modules/
dist/
dist-ssr/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignoring specific files
src/Day-4/1.toggle.jsx
src/Day-4/2.Begineerform.jsx
src/Day-4/3.AdvanceForm.jsx

# Ignoring directories
src/Day-3/
src/Day-2/
src/Day-4/
src/Day-5/

.gitignore