# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build output
node_modules/
dist/
dist-ssr/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignoring specific files
src/Day-4/1.toggle.jsx
src/Day-4/2.Begineerform.jsx
src/Day-4/3.AdvanceForm.jsx

# Ignoring directories
src/Day-3/
src/Day-2/
src/Day-4/
src/Day-5/
src/Day-11/
src/Day-12/
src/Day-14/
src/Day-13/
src/Day-15/
src/Day-16/
src/Day-6/1.stale_closure.jsx
src/Day-7/
src/Day-8/
src/Day-9/
src/Day-10/

#Ignore .gitignore files
.gitignore

# Ignore Day-6 stale closure files
D:\.CODING\Coding\.React\my-react-app\src\Day-6\1.stale_closure.jsx
